<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 style="color:white;">Smart Contact Manager</h1>
            <p>
                Manage your contacts effortlessly with our Smart Contact Manager. Keep all your contacts organized, easily accessible, and secure.
            </p>
            <a href="/signin" class="btn btn-custom btn-lg">Get Started</a> 
        </div>
    </section>
</body>
</html>


